* {
    padding: 0 0 0 0;
}

#left-s {
    width: 1.3in;
    height:4.025in;
    display: inline-block;
}

#star {
    width: 1.6in;
    height: 4.025in;
    display: inline-block;
    margin-left: .1in;
}

.standard {
    width: .9in;
    height: 2in;
}

.right-side {
    width: 1in;
    height: 2in;
}

.key {
    border: 1px solid black;
    background-color: white;
}

.col {
    display: inline-block;
    margin-left: .1in;
    margin-right: 0;
}

.right-col {
    display: inline-block;
    margin: 0 0 0 0;
}

.row > * {
    display: inline-block;
    margin: 0 0 0 0;
}

.row {
    display: inline-block;
}

.right-row {
    margin-left: 0;
}

#vowels {
    margin-top: .2in;
    margin-left: 3.5in;    
}
